<section>
    <div class="main">
        <img src="../img/3.png" alt="">
        <div class="main__center">
            <p>We Are Coming Soon !</p>
            <p class="main__mail">
                <a href="mailto:info@tailorkraken.com">Contact us:
                    <br>
                    info@tailorkraken.com
                </a>

            </p>
        </div>
        <!--<ul>-->
            <!--<li>-->
               <!--<b>Владислав Мазур</b> </br>-->
                <!--Основатель Tailor Kraken</br>-->
                <!--+380 (63) 445 92 64</br>-->
                <!--vlad@tailorkraken.com</br></li>-->
            <!--<li>-->
                <!--<b>Дмитрий Ивченко</b></br>-->
                <!--Основатель Tailor Kraken</br>-->
                <!--+380 (63) 577 82 10</br>-->
                <!--dmitry@tailorkraken.com</br>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</section>
