<section>
    <div class="main"></div>
    <div class="main__center">
        <p>
            We Are Comming Soon ...
        </p>


        <ul>
            <li>
               <b>Владислав Мазур</b> </br>
                Основатель Tailor Kraken</br>
                +380 (63) 445 92 64</br>
                vlad@tailorkraken.com</br></li>
            <li>
                <b>Дмитрий Ивченко</b></br>
                Основатель Tailor Kraken</br>
                +380 (63) 577 82 10</br>
                dmitry@tailorkraken.com</br>
            </li>
        </ul>
    </div>


</section>
